/***********QR RAPIMONEY***********/

.linea-contact{
  width: 35%;
  margin: auto;
}

.content-qr-rapimoney{

  width: 301px;
  height: 284px;
  margin: auto;
}

.qr-rapimoney{
  width: 100%;
  height: 100%;

}

.content-btn-solicitar{
  margin: auto;
  width: 145px;
  height: 30px;
}

.btn-solicitar{
  display: block;
  background: #059E97;
  border: none;
  cursor: pointer;
  
}

.btn-solicitar:hover {
  border:2px solid white;
  font-weight: bold;
  transition: all 0.2s ease;
}
