
/******responsive design mobile********/

.content-calculadora{
  max-width: 350px;
  margin: auto;
  padding: 1em;
  background: none;
}

.msg-retiro{
  display: block;
  padding:0.5em;
}
.content-monto{
  width: 230px;
  height: 50px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  padding-left: 10%;
  border-radius: 15px;
}

.lbl-monto{
  padding-bottom: 24px;
  border-bottom: 2px #059E97 solid;
}

.input-monto{
  width: 80%;
  height: 100%;
  font-size: 17px;
  line-height: 22px;
  font-weight: bold;
  background: none;
  color: #2CAB69;
  border: none;
  outline:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}


.input-monto::placeholder { color: #2CAB69
  ; font-weight: bold; }




.content-comision{
  width:230px;
  background: rgba(5, 158, 151, 0.7);
  margin: auto;
  border-radius: 15px;
}

.forma-retiro{
  padding: 1px;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 1rem
}
/* 
.radio:checked{
  color:white;
  font-weight:bold;
} */

/* .radioBtn:hover ,.radioBtn:checked{
  color:white;
  background:#2CAB69;
} */

.content-input-comision{
  width: 150px;
  height:40px ;
  padding: 2px;
  padding-left: 10%;
  margin: auto;
  
}

.lbl-input{
  padding-bottom: 18px;
  border-bottom: 1px white solid;
}

.input-comision{
  width: 100%;
  height: 100%;
  font-size: 17px;
  line-height: 22px;
  font-weight: bold;
  background: none;
  color: white;
  border: none;
  outline:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}


.input-comision::placeholder {
   /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white; 
  opacity: 1; /* Firefox */
  font-size:20px ;
}

/**select styles**/
.content-plazo{
  width: 14.3em;
  height: 3.1em;
  margin: auto;
  position: relative;
}
.label-plazo{
  position: absolute;
  left: 1.2em;
  top: 0.3em;

}

.label-plazo__span{
  font-size: 0.9rem;
  position: absolute;
  left: -1.3em;
  top: 1.2em;
}

.content-select-plazo{
  width: 9.3em;
  height: 3.1em;
  position: relative;
  left: 5em;
}

.select-plazo{
  border: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  width:100%;
  height: 100%;
  text-align: center;
  font-size: 17px;
  line-height: 22px;
  font-weight: bold;
  color: #2CAB69;
  outline:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  /* background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%22292.4%22 height=%22292.4%22%3E%3Cpath fill=%22%23007cb2%22 d=%22M287 69.4A17.6 17.6.0 00274 64H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6.0 000 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8s-1.9-9.2-5.5-12.8z%22/%3E%3C/svg%3E'),linear-gradient(to bottom,#ffffff 0%,#f7f7f7 100%);
background-repeat: no-repeat,repeat;
background-position: right .7em top 50%,0 0;
    background-position-x: right 0.7em, 0px;
    background-position-y: top 50%, 0px;
background-size: .65em,100%; */

}

.content-input-pago{
  margin: auto;
  width: 190px;
  height:40px ;
  padding: 2px;
  padding-left: 5%;
  
}
/******responsive design tablet********/

@media screen and (min-width:769px){
  .content-calculadora{
    max-width: 420px;
    margin-right: 0rem;
    padding: 1em;
    padding-top:2em;
    background: none;
  }
}


/******responsive design desktop*******/

@media screen and (min-width:1024px){
  .msg-retiro{
    display: block;
  }
}