/***************RAPIMONEY CARDS********************/

/**********responsive design mobile**********/
.content-patrocinadores--tarjetas{
  width: 100%;
  height: 3.18em;
  background: rgba(5, 158, 151, 1);
  
}

.item-patrocinador-tarjeta{
  width: 100%;
  overflow: hidden;
}

.slider-tarjetas{
  width: 56.25em;
  height: 2.19em;
  background-image: url(../../img/main/tarjetas.png);

  /*background-image: url(https://rapimoney.pe/assets/img/main/tarjetas.png);*/
 
  background-size:100%;

  animation: slider-tarjetas 20s infinite linear;

  background-repeat: repeat;
}

@keyframes slider-tarjetas {
  to{
    background-position: 56.25em;

  }
  
}

/**responsive design tablet**/

@media screen and (min-width:769px){

  .content-patrocinadores--tarjetas{
    width: 100%;
    height: 4.37em;
    background:rgba(5, 158, 151, 1);
    margin-bottom:1.5em;
  }
  
  .item-patrocinador-tarjeta{
    width: 80%;
    overflow: visible;
  }

  /* .slider-tarjetas{
    width: 45.25em;
    height: 2.19em;
  }  */

  .slider-tarjetas{
    width: 100%;
    height: 45px;
    background-image: url(../../img//main/tarjetas.png);
    /*background-image: url(https://rapimoney.pe/assets/img/main/tarjetas.png); */
    background-size: 100% 100%;
  
    animation: slider-tarjetas 20s infinite linear;
  
    background-repeat: repeat;
  }
  
  @keyframes slider-tarjetas {
    to{
      background-position:  56.25em;
  
    }
    
  }




}



/**responsive design desktop**/
@media screen and (min-width:1024px){

  .content-patrocinadores--tarjetas{
    background:white;
    margin-bottom:0;

  }



}
